body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

header {
    width: 800px;
    border-radius: 15px;
    background: #DDDDDD;
    padding: 0.1%;
    margin: 5% auto 1%;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    color: #9470DC;
    font-weight: 100;
}

p {
    margin: 0;
    padding: 0;
}

body > main > section:after {
    content: "";
    width: 100%;
    display: inline-block;
}

body > main > section {
    margin: 0 auto;
    text-align: justify;
    width: 800px;
}

article {
    background: #EEEEEE;
    display: inline-block;
    width: 23%;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

div.circle {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 80%;
    background: #9470DC;
}

div.circle > p {
    position: relative;
    top: 70px;
    color: white;
    font-size: 2.5em;
}

article > p {
    color: #ADA9AA;
    margin: 10% 0;
}

article > button {
    text-transform: capitalize;
    border-radius: 15px;
    background: #DDDDDD;
    border: none;
    padding: 5%;
    display: block;
    width: 100%;
    color: #67666B;
    outline: none;
}

div.circle:hover {
    background: white;
    cursor: pointer;
}

div.circle:hover p {
    color: #9470DC;
}

article > button:hover {
    background: white;
    cursor: pointer;
}