<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>All Suppliers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="partials/navbar"></div>
    <h1 th:text="${supplierType}"></h1>
    <div class="card card-block bg-faded" style="padding: 20px">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number Of Parts</th>
            </tr>
            <th:block th:each="supplier : ${suppliers}">
                <tr>
                    <td th:text="${supplier.id}"></td>
                    <td th:text="${supplier.name}"></td>
                    <td th:text="${supplier.parts.size()}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>