<article class="post post-content">
    <p>{{content}}</p>
    <div class="info">
        submitted {{creationInfo}} ago by {{author}}
        {{#if commentIsMadeByLoggedInUser}}
            | <a href="#/comment/delete/{{_id}}" class="deleteLink">delete</a>
        {{/if}}
    </div>
</article>