<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>All Logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="partials/navbar"></div>
    <h1>All Logs</h1>
    <div class="card card-block bg-faded" style="padding: 20px">
        <form class="form-inline my-2 my-lg-0" th:action="@{/logs/all/user}" method="post"
              style="padding-bottom: 10px">
            <input class="form-control mr-sm-2" type="search" placeholder="Username" name="username"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Logs</button>
            <a class="btn btn-danger" style="margin-left: 8px" th:href="@{/logs/clear}">Clear All Logs</a>
        </form>
        <table class="table">
            <tr>
                <th>User</th>
                <th>Operation</th>
                <th>Modified Table</th>
                <th>Time</th>
            </tr>
            <th:block th:each="log : ${logs}">
                <tr>
                    <td th:text="${log.user}"></td>
                    <td th:text="${log.operation}"></td>
                    <td th:text="${log.modifiedTable}"></td>
                    <td th:text="${#dates.format(log.date, 'dd/MM/yyyy HH:mm:ss')}"></td>
                </tr>
            </th:block>
        </table>
    </div>
</div>
</body>
</html>