<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Part</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="partials/navbar"></div>
    <h1>Edit Part</h1>
    <div class="card card-block bg-faded" style="padding: 20px">
        <div class="container">
            <form th:action="@{/parts/edit/{id}(id=${part.id})}" method="post">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input th:value="${part.price}" type="number" step="any" class="form-control" id="price"
                           name="price"
                           placeholder="Enter price">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input th:value="${part.quantity}" type="number" class="form-control" id="quantity" name="quantity"
                           placeholder="Enter quantity">
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>